.blFour{

    .hero{
        width: 981px;
        height: 300px;
        // background-color: aqua;
        background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/Blog-hero.png);

        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 57px;
        .date{
            background-color: #EE4367;
            color:white;
            border: none;
            padding-top: 25px;
            padding-right: 17px;
            padding-left: 44px;
            height: 155px;
            width: 155px;

            .date-number{
                font-family: Gill Sans;
                font-size: 55px;
            }

            .date-month{
                font-family:  Gill Sans;
                font-size: 31px;
                margin-top: -15px;
                
            }

        }
    }

    .content-holder{
        height: 295px;
        width: 856px;
        // background-color: aquamarine;
        margin-left: 150px;
        margin-bottom: 60px;
        .header-holder{
           width: 120px;
           height: 23px;
        //    background-color: bisque; 
            .header-words{
                font-family: Gill Sans ;
                font-size: 20px;
                color: #EE4367;
            }
        }
        .textbox1-holder{
            width: 856px;
            height: 125px;
            // background-color: blue;
            margin-top: 30px;
            .textbox-words{
                font-family: Gill Sans ;
                font-size: 20px;
            }
        }
        .textbox2-holder{
            width: 856px;
            height: 84px;
            // background-color: red;
            margin-top: 30px;
            .textbox-words{
                font-family: Gill Sans ;
                font-size: 20px;
            }
        }
    }
    

}